@import url('LAZY.css');

html {
  height: 100%;
}
body {
  height: 100%;
  width: 40em;
  margin-top: 2.5em;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  
  font: 100 14pt/1.6 Helvetica, Arial, Verdana, sans-serif;
  color: #292929;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {text-decoration: none; color: #000000 !important;}
a:visited {color: #000000;}
a:hover:visited {color: #000000 !important;}

p {
  margin-bottom: 0px;
  padding-left: 0.64em;
}
p:first-line {
  background: white;
}
p + p {
  padding-top: 1.5em;
}

tt, pre, code {
  font-family: Inconsolata, monospace !important;
  line-height: 1.0;
}
code.block {
  display: block; font-size: 10pt;
  padding: 1em 0em;
}

#tests {
  margin: 2.5em 0em;
}

.test {
  margin: 1em;
  padding: 0em;
  width: 40em;
}

.test .example {
  display: block;
  margin: 0px;
  padding: 5px;
  font-size: 45pt;
  line-height: 1.0;
}

#wha {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 65%;
}

#wha a:before        {color: #333333; content: '\3f';} /* \20 */
#wha a:hover:before  {color: #888888; content: '\21';}